<div class="item-thumbs" >
    <a href="">   
      <img *ngIf="book.imageLinks['smallThumbnail']" [src]='book.imageLinks["smallThumbnail"]'>  </a>
  <!-- <span class="glyphicon glyphicon-shopping-cart"></span> -->
  <div class="hover-content">
      <div class="line"></div>
  <h4 *ngIf="book.title">book title:{{book["title"]}}</h4>
  <p *ngIf="book.subtitle">book sub title:{{book["subtitle"]}}</p>
  <button *ngIf="book.title||book.subtitle" value="book details" (click)="bookDetails()">view details</button>
</div> 
 </div>
