<!-- <form [formGroup]="formGroup" (ngSubmit)="submitLogin()">

    <div *ngFor="let x of obj.keys(formGroup.controls)">
        <label>{{x}}:</label>
        <input formControlName="{{x}}" />

        <div *ngIf="formGroup.controls[x].errors&&formGroup.controls[x].touched">
            <p *ngFor="let err of obj.values(formGroup.controls[x].errors)">{{err}}</p>
        </div>

    </div>

    <input type="submit" value="Login" [disabled]="formGroup.invalid" />

</form> -->
<!-- try -->
<div id="mySignin" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="mySigninModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="mySigninModalLabel">Login to your
            <strong>account</strong>
        </h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="formGroup" (ngSubmit)="submitLogin()">

            <div class="control-group" *ngFor="let x of obj.keys(formGroup.controls)">
                <label class="control-label" for="inputText">{{x}}:</label>
                <div class="controls">
                    <input formControlName="{{x}}" id="inputText"  />
                </div>
                <div *ngIf="formGroup.controls[x].errors&&formGroup.controls[x].touched">
                    <p *ngFor="let err of obj.values(formGroup.controls[x].errors)">{{err}}</p>
                </div>

            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="submit" value="sign in" [disabled]="formGroup.invalid" class="btn" />
                </div>
                <p class="aligncenter margintop20">
                    Forgot password?
                    <a href="#myReset" data-dismiss="modal" aria-hidden="true" data-toggle="modal">Reset</a>
                </p>
            </div>

        </form>
    </div>
</div>
<!-- end try -->








