

<div *ngIf="user; else UserNameDefault">
 <p> Hello {{user.userName}}!</p>
 <img [src]="user.imgUrl">
</div>
<ng-template #UserNameDefault>
  Hello guest!
  <!-- <img [src]=user.imgUrl> -->
</ng-template>
<ul class="nav navbar-nav">
  <li routerLinkActive="active"><a [routerLink]="['/myAccount']">my account</a></li>
  <li routerLinkActive="active"><a [routerLink]="['/products']">products</a></li>
  <li *ngIf="user" routerLinkActive="active"><a [routerLink]="['/myCart']">my cart num products is: {{countMyCard}}</a></li>
</ul>



