





<div class="col-md-6 col-xs-6 div ">
        <!-- <img *ngIf="book.imageLinks['smallThumbnail']" [src]='book.imageLinks["smallThumbnail"]'> -->
        <img id="imgProfile" src="../../../assets/book6.jpg" />
     </div>
<div class="col-md-6 col-xs-6 div ">
    <div class="single_product_desc">
        <!-- Product Meta Data -->
        <div class="product-meta-data">
                <h2>{{book.title}}</h2>
        </div>

        <div class="short_overview my-5">
            <ul>

                <li>{{book.subtitle}}</li>
                <div *ngIf="book.authors">
                        <h4>authors</h4>
                    <div *ngFor="let author of book.authors">
                        <p>{{author}}</p>
                    </div>
                </div>
                <li><h4>publisher</h4>{{book.publisher}}</li>
                <li><h4>publishedDate</h4>{{book.publishedDate}}</li>
                <li><h4>description</h4>{{book.description}}</li>
                <li><h4>pageCount</h4>{{book.pageCount}}</li>
            </ul>
        </div>

        <!-- Add to Cart Form -->
        <form class="cart clearfix" method="post">
            <div class="cart-btn d-flex mb-50">
                <p>Qty</p>

                <div class="quantity">
                    <span class="qty-minus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) ) effect.value--;return false;">
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </span>
                    <input type="number" class="qty-text" id="qty" step="1" min="1" max="300" name="quantity" value="1" (keyup)="updateCount($event.target.value)">
                    <span class="qty-plus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;">
                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
            <button type="button" class="btn amado-btn mb-15" (click)="addToMyCart()" [disabled]="!user" >Add to cart</button>
            <!-- <button type="submit" name="addtocart" value="5" class="btn amado-btn" (click)="addToMyCart()" name="addMyCart" [disabled]="!user">Add to cart</button> -->
            <!-- <button type="button" class="btn amado-btn" (click)="backProductsPage()">back to all Products</button> -->
                 <p class="back" (click)="backProductsPage()">
                     back to all Products
                  
                      <span class="glyphicon glyphicon-share-alt back" ></span>
                  </p>
        </form>

    </div>
</div>